
#bodyContainer {
  display: flex;
  min-height: 700px;
  height: fit-content;
  overflow: hidden;
}
#showRepos {
  background-color: #0d1117;
  flex: 2;
  padding: 20px;
}
#showRepos>div{
    height: 30px;
    font-size: 18px;
    color: white;
    display: flex;
    gap: 20px;
    align-items: center;
    padding-left: 30px;
    margin-bottom: 30px;
}
#showRepos>div>img{
    width: 30px;
    border-radius: 50%;
    height: 30px;
}
#showRepos>div>a:hover{
    color: whredite;
    text-decoration: underline;
}
#rightSide {
  background-color: 
  #010409e0;
  flex: 5;
}

